gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
# Non committare mai la keystore né una sua codifica Base64 temporanea.
**/*.keystore
**/*.jks
**/*.keystore.b64
**/*.jks.b64
